.axit {}

.axit__body {
    background-image: url(../Image/AXIT.png);
    height: 1026px;
    margin: 0 auto;
}

.axit__footer {
    height: 140px;
    background-color: #F8EFEF;
    margin-bottom: 100px;
}

.container>input[type="radio"] {
    display: none;
}

.container>div {
    /* скрыть контент по умолчанию */
    display: none;
    font-size: 16px;
    border: 1px solid #C6CBCD;
}

#container__tab1:checked~#container__content1,
#container__tab2:checked~#container__content2,
#container__tab3:checked~#container__content3 {
    /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
    display: block;
}

.container>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 70px;
    font-size: 14px;
    font-family: Open Sans;
    position: relative;
    top: 1px;
}

.container>input[type="radio"]:checked+label {
    background-color: #fff;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-top: 1px solid #C6CBCD;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.container {
    font-size: 0;
    margin: 0 auto;
    max-width: 1170px;
    height: 540px;
}

.container__content-block {
    max-width: 1170px;
    height: 498px;
    padding-left: 100px;
}

.container__content-text {
    max-width: 570px;
    height: 500px;
    display: inline-block;
}

div h3 {
    font-family: Open Sans;
    font-size: 30px;
    color: #000000;
    line-height: 124px;
    margin: 0;
}

div p {
    font-family: Raleway;
    font-size: 18px;
    color: #000000;
}

div img {
    width: 470px;
    display: inline-block;
    float: right;
}

.container__btn {
    width: 270px;
    height: 58px;
    font-family: Open Sans;
    font-size: 18px;
    background: #EC7979;
    border: 0;
    padding: 0;
    position: relative;
    bottom: -100px;
    text-decoration: none;
}

.container__btn:hover {
    background: #AB4949;
}

.container__btn:active {
    background: #EC7979;
}

a {
    text-decoration: none;
    color: white;
}

.main {
    width: 1170px;
    height: 665px;
    margin: 0 auto;
    background: white;
}

.title {
    font-family: Raleway;
    width: 1170px;
    height: 150px;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin: 0;
    padding-top: 57px;
}

.line {
    border: 1px solid #EC7979;
    height: 0px;
    width: 170px;
    left: 671px;
    top: 2003px;
    border-radius: nullpx;
}

.slogan {
    font-family: Raleway;
    color: #86878B;
    text-align: center;
    font-size: 18px;
}

.section {
    width: 350px;
    height: 325px;
    display: inline-block;
}

.section-one {
    float: left;
    padding: 10px;
    margin: 56px 0 0 0;
    align-items: center;
}

.section-two {
    margin: 56px 25px 0 25px;
    padding: 10px;
}

.section-three {
    float: right;
    margin: 56px 0 0 0;
    padding: 10px;
}

.image-one {
    width: 65px;
    height: 65px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    padding: 13px;
    margin: 0 130px 40px 130px;
}

.image-two {
    width: 66px;
    height: 46px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    padding: 23px 13px;
    margin: 0 130px 40px 130px;
}

.image-three {
    width: 46px;
    height: 66px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    padding: 13px 26px;
    margin: 0 130px 40px 130px;
}

.subtitle {
    font-family: Open Sans;
    font-style: normal;
    text-align: center;
    font-size: 24px;
}

.text {
    font-style: normal;
    text-align: center;
    line-height: 21px;
    font-size: 18px;
}

.box-pricing {
    background: #F5F5F5;
}

.wrap-pricing {
    width: 1170px;
    margin: auto;
    padding: 50px;
    box-sizing: content-box;
}

.wrap-pricing__body {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 79px;
}

.body__items {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 510px;
    justify-content: space-between;
}

.item-option {
    font-family: Open Sans;
    color: #FFFFFF;
    font-size: 24px;
    background: #333333;
    padding: 11px 0;
}

.item-price {
    font-family: Raleway;
    color: #FFFFFF;
    font-size: 36px;
    background: #333333;
    padding: 27px 0;
}

.item-text {
    font-family: Raleway;
    color: #86878B;
    font-size: 18px;
    background: #FFFFFF;
    padding: 13px 0;
}

.black {
    color: #FFFFFF80;
    background: #333333;
}

.body__items:hover {
    box-shadow: 0 5px 10px 0 #86878B;
    border-radius: 5px;
    transform: translateY(-50px);
}

.ourcustomers {
    box-sizing: content-box;
}

.ourcustomers__box {
    width: 1170px;
    margin: auto;
    padding-top: 50px;
}

.ourcustomers__box-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body__item {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 52px;
}

.desc {
    font-family: Raleway;
    font-size: 18;
    color: #86878B;
    text-align: center;
    padding: 37px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin: 0;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    position: relative;
    left: 70px;
}

.name {
    font-family: Open Sans;
    font-size: 24px;
    color: #000000;
    margin: 0;
    height: 70px;
    margin-top: 46px;
}

.davis::before {
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
    content: url(../Image/Ellipse\ 7.png);
}

.jaydon::before {
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
    content: url(../Image/Ellipse\ 7\ \(1\).png);
}

.cooper::before {
    display: inline;
    vertical-align: middle;
    margin-right: 30px;
    content: url(../Image/Ellipse\ 7\ \(2\).png);
}

.function {
    font-family: Raleway;
    font-size: 18px;
    color: #000000;
    width: 270px;
    align-self: flex-end;
    margin: 0;
}

.stylish {
    background-image: url(../Image/STYLISH.png);
    height: 442px;
    margin-top: 64px;
}

.stylish__body {
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;

}

.stylish__title {
    font-family: Raleway;
    color: #FFFFFF;
    height: 150px;
    text-align: center;
}

.stylish__line {
    border: 1px solid #FFFFFF;
    height: 0px;
    width: 170px;
    left: 671px;
    top: 2003px;
    border-radius: nullpx;
}

.stylish__slogan {
    font-family: Raleway;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
}

.stylish__btn {
    width: 370px;
    height: 58px;
    font-family: Open Sans;
    font-size: 18px;
    background: none;
    border: 3px solid #FFFFFF;
    text-decoration: none;
    margin-top: 73px;
    margin-left: 400px;
}